//
//  Config.xcconfig
//  AppleWeatherCloneCoding
//
//  Created by ParkJunHyuk on 2023/11/14.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

//BASE_URL = http:/$()/https://api.openweathermap.org/data/2.5/weather
APIKey = 4bca00f6a0e098c958c18c7bb2e73a0b
